$inputW: 360px;
$btnH: 36px;

.registration {

  .btn_back {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 40px 20px;
    padding: 5px 10px 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: #0065ff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s linear;

    &:hover {
      background-color: #024dbe;
    }
  }
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 60px auto 20px;
  padding: 50px 40px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;

  h2 {
    max-width: 360px;
    width: 100%;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
  }

  .switch__form {
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: none;
  }
  .switch__form:hover {
    text-decoration: underline;
  }
}

.form-registaration {
  width: 100%;
  text-align: center;

  label {
    position: relative;
    display: block;
    max-width: $inputW;
    width: 100%;
    margin: 40px auto 0;
    text-align: center;
    font-size: 16px;
    color: #6d6d6d;
    text-transform: uppercase;
    cursor: pointer;
  }

  .input,
  .submit {
    border: none;
    outline: none;
    background: none;
    display: block;
    max-width: $inputW;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  input {
    &:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.781);
    }
  }

  .form-inputs {
    position: relative;
  }

  .error {
    width: 100%;
    position: absolute;
    font-size: 14px;
    color: red;
    text-transform: lowercase;
  }

  .submit {
    margin: 40px auto 20px;
    max-width: $inputW;
    height: $btnH;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
    background: #645669;
    text-transform: uppercase;
    transition: 0.2s linear;
  }
  .submit:hover {
    background-color: #eae6ff;
    color: #645669;
  }
  .submit:active {
    transform: scale(0.95);
  }
  .submit:disabled {
    background-color: gray;
    transform: scale(1);
  }


}

