.column {
  max-width: 350px;
  min-width: 300px;
  max-height: 95%;
  background-color: #f7f7f7;
  border-radius: 10px 5px 5px 10px;
  box-shadow: 2px 2px 10px #0065ff;
  margin: 10px;
  cursor: grab;
  padding: 20px;
  overflow-y: auto;

  h1 {
    font-size: 24px;
    padding-right: 10px;
  }
}
.column::-webkit-scrollbar {
  width: 8px;      
}
.column::-webkit-scrollbar-track {
  background: linear-gradient(0deg, #fff, #ffffff 100%);   
  border-radius: 50px;
}
.column::-webkit-scrollbar-thumb {
  background-color: #a88cb3;    
  border-radius: 20px;       
  border: 1px solid #0065ff; 
}
.column::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.columnHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

@media screen and (max-width: 380px) {
  .column {
    min-width: 250px;
  }
  .columnHead {
    flex-direction: column;
    align-items: center;
  }
  h1 {
    margin-bottom: 10px;
  }
}

.title {
  cursor: pointer;
}

.tasks {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.buttonDelete {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #bd170c;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s linear;

  &:hover {
    background-color: #f54b3f;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #9e625e;
  }
}

.buttonCreate {
  margin-left: auto;
  margin-top: 20px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: green;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.2s linear;

  &:hover {
    background-color: rgb(59, 163, 59);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: #9e625e;
  }
}

.form {
  label {
    margin: 0 0 30px 0;
    padding: 0 10px 0 0;
  }
  .input {
    font-size: 14px;
  }
  .error {
    color: red;
  }
  button {
    cursor: pointer;
  }
  .buttonCreate {
    margin: 0 1px;
    padding: 5px;
  }
}

.buttonCancel {
  position: absolute;
  right: 0;
  bottom: 0;
  @extend .buttonCreate; 
  background-color: grey;
  &:hover {
    background-color: rgb(158, 147, 147);
  }
}