.header_wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  height: 80px;

  &.scroll {
    background-color: #f5f4ff;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  }
}

.header {
  margin: 0 auto;
  padding: 0 25px;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;

  &__logo {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
  }

  &__btns {
    display: flex;
    gap: 10px;
  }

  button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #0065ff;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s linear;

    &:hover {
      background-color: #024dbe;
    }
  }
}

