.task {
  margin: 10px 0;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.199);

  .image-preview {
    img {
      width: 50px;
      height: 50px;
      border-radius: 15%;
      object-fit: cover;
    }
  }
}

.title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}

.description {
  border: 1px dashed #0065ff;
  border-radius: 10px;
  padding: 10px 20px;
  overflow: hidden;
}

.taskHead {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 5px;
  text-align: center;

  .hat {
    display: flex;
    flex-direction: column;
    max-width: 170px;
    width: 100%;
    text-align: left;
  }
}

.refactor-delete {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
}

.delete,
.refactor {
  width: 30px;
  cursor: pointer;
  transition: 0.2s linear;

  &:hover {
    transform: scale(1.1);
  }
}
