.main {
  margin-top: 120px;
}

.boards_wrapper {
  margin: 0 auto 80px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  min-height: 500px;
  background: #fff;
  padding: 50px;
  font-size: 22px;
  box-shadow: 4px 3px 20px 1px #0000005d;

  h1 {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
  }

  @media (max-width: 500px) {
    padding:50px 25px;
  }
}

.boards {
  h4 {
    margin-top: 30px;  
    padding: 10px 30px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;    
  }
}

.board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.253);
  transition: 0.2s linear;

  @media (max-width: 425px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-bottom: 20px;

    img {
      width: 30px;
    }
    button {
      margin: 0 auto;
    }
  }

  a {
    display: flex;
    gap: 20px;
    align-items: center;
    transition: 0.2s linear;

    &:hover {
      letter-spacing: 1px;
    }
  }

  button {
    margin-left: auto;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
    background-color: #bd170c;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s linear;

    &:hover {
      background-color: #f54b3f;
    }

    &:disabled {
      cursor: not-allowed;
      background-color: #9e625e;
    }
  }
}
