.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #12121263;

  transition: 0.2s linear;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  &__content {
    border-radius: 10px;
    text-align: center;
    max-width: 320px;
    width: 100%;
    background: #fff;
    padding: 50px;
    box-shadow: 4px 3px 20px 1px #0000005d;
  }

  input {
    border: none;
    outline: none;
    background: none;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    text-align: center;

    &:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.781);
    }
  }

  label {
    position: relative;
    font-size: 16px;
    margin-bottom: 60px;
    color: #919191;
  }

  button {
    text-transform: uppercase;
  }

  .error {
    width: 100%;
    position: absolute;
    top: 70px;
    font-size: 14px;
    color: red;
  }  
}
