.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background: #12121263;

  transition: 0.2s linear;

  &.open {
    visibility: visible;
    opacity: 1;
  }

  &__content {
    position: relative;
    border-radius: 10px;
    max-width: 320px;
    width: 100%;
    background: #fff;
    margin: 10px;
    padding: 50px;
    text-align: center;
    box-shadow: 4px 3px 20px 1px #0000005d;

    img {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 5;
      cursor: pointer;
    }
  }

  input {
    border: none;
    outline: none;
    background: none;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.233);
    text-align: center;

    &:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.781);
    }
  }

  label {
    display: block;
    width: 100%;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 60px;
    color: #919191;
    cursor: pointer;
  }

  button {
    text-transform: uppercase;
    font-size: 16px;

    &:disabled {
      cursor: not-allowed;
      background-color: #697a94;
    }
  }

  .error {
    width: 100%;
    position: absolute;
    top: 64px;
    font-size: 14px;
    color: red;
    text-transform: lowercase;
  }  

  .sub_btn {
    margin-top: 80px;
    position: relative;

    .loader {
      width: 100%;
      display: flex;
      justify-content: center;
      position: absolute;
      top: -30px;
      z-index: 5;
    }
  }
}
